

html,body,header,.container{
	width:100%;
	text-align: center;
	padding:0;
	margin:0;
transition: .5s;
-moz-transition: .5s;
-webkit-transition: .5s;
}

						/* ========== HEADER ============ */

header{
	margin-bottom:20px;
}
.top_space{
	/*height: 90px;*/height: 50px;
}
	.top_top{
		width:100%;
		/*height:30px;*/height:0;
		padding:0 60px;
		text-align:left;
		background-color:#555;
	}

					/* ================= TOP MENU ================== */

.top_nav{
	width:85%;
	height:40px;
	margin:auto;
	padding:0 60px;
	border-radius: 4px;
	text-align:left;
	background-color:#02f1ff;
	box-shadow: 3px 3px 3px #999;
}
	.top_nav .tlink{
		display: inline-block;
		box-sizing: border-box;
		height: 100%;
		padding:0px 20px 0 20px;
		border: 6px solid transparent;
		text-align: center;
		font-size:20px;
		color:#777;
		text-decoration: none;
	}
	.top_nav span.tlink{
		border-top: 6px solid #fff;
		border-bottom: 6px solid #999;
		cursor:default;
		color:#000;
	}
		.top_nav a.tlink:hover{
			color:#000;	
		}
			@media screen and (min-width: 1350px){
				.top_nav{
					width:1250px;
					padding:0 40px;
					box-shadow: 3px 3px 3px #999;
				}
			}
			@media screen and (max-width: 1000px){
				.top_nav{
					width:100%;
					padding:0 40px;
					border-radius: 0;
					box-shadow: 0 3px 3px #999;
				}
			}


					/* ================= CONTENT ================== */

.container{
	width:96%;            height:2000px;
	margin:auto;
	padding:10px 10px;
	text-align:left;
}

					/* ================= FOOTER ================== */

footer{
	width:100%;         height:60px;
	margin:auto;
	padding:10px 10px;
	text-align:left;
	background-color:#222;
}

					/* ================= ARTICLES MENU ================== */
.art_menu{
	display:block;
	box-sizing: border-box;
	text-align:center;
	position:fixed;
	right:-190px;
	width:auto;height:auto;
	max-width:300px;
			transition: .5s;
			-moz-transition: .5s;
			-webkit-transition: .5s;
}
.art_menu:hover{
	right:0;
}

	.alink{
		display:block;
		box-sizing: border-box;
		text-align:center;
		width:200px;
		height:40px;
		margin:10px;
		padding-top:6px;
		border-radius:3px;
		border:1px solid #48f;
		color:#000;
		text-decoration:none;
		font-size:20px;
			transition: .5s;
			-moz-transition: .5s;
			-webkit-transition: .5s;
	}
	.alink:hover,.alink:active,.alink:focus,span.alink{
		background-color:#def;
		border:1px solid #48f;
		color:#000;
		text-decoration:none;
		font-size:20px;
	}


									/* ==== GALLERY ====== */

.drowa,.colim,.colim img{
	display:block;box-sizing:border-box;
	width:100%;height:auto;
	padding:0;margin:auto;
	text-align: center;

	/*border:1px solid #666;*/
}

.colim{
	display:inline-block;
	width:20vw;
	min-width:150px;
	margin:15px 1%;
	vertical-align:middle;
}
.colim img{
	/*border:1px solid #000;*/
	box-shadow: 1px 1px 30px #339;
}



							/* ========== POPUP GALLERY =========== */

div.vi_bg{
	position:fixed;
	display:none;
	top: 0;
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0,0.9);
	z-index: 10;
transition: .5s;
-moz-transition: .5s;
-webkit-transition: .5s;
}
div.vi_div{
	position:fixed;
	display:none;
	width:90vw;
	height:90vh;
	top:4vh;left:4vw;
	text-align: center;
	z-index: 11;

transition: .5s;
-moz-transition: .5s;
-webkit-transition: .5s;
background-repeat: no-repeat;
background-size:contain;
background-position: center;
}

.vi_pic{
	display:block;
	
	height:100%;
	margin:auto;
	z-index: 20;
	box-shadow: 1px 1px 5px #000, 10px 10px 50px #003;
}

.vi_bp,.vi_bn{
	position:fixed;
	display:block;
	top:0;
	text-align: center;
	width:10vw;
	height:100vh;
	background-color:rgba(0,0,0,0.1);
	z-index: 30;

transition: .5s;
-moz-transition: .5s;
-webkit-transition: .5s;
}
.vi_bp:hover,.vi_bn:hover{
	background-color:rgba(255,255,255,0.1);
}
.vi_bp{
	left:0;
}
.vi_bn{
	right:0;
}